@charset "utf-8"

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Quicksand')
$family-sans-serif: "Quicksand", sans-serif
$family-monospace: "Cutive Mono", monospace
$family-primary: $family-monospace

$toha-light: #fff1e3
$body-background-color: $toha-light
$navbar-background-color: $toha-light
$black: #323237
$purple: #a984c4


@import "../../node_modules/bulma/bulma.sass"

body
  display: flex
  min-height: 100vh
  flex-direction: column

.wrapper
  flex: 1

::selection
  background: $purple
  color: $toha-light

.social
  @extend .is-size-2
  text-align: center

  &-item
    display: inline

hr
  border: solid 2px $black
  margin: 3rem 0
  text-align: center
  font-weight: bold
  font-size: 1.5rem
  &:after
    content: "//"
    display: inline-block
    position: relative
    padding: 0 0.25em
    top: -0.75em
    background: $toha-light

.inverted
  background-color: $black
  color: $toha-light
  padding: 0.25em
  font-weight: bold

  &-decorated
    @extend .inverted
    font-family: $family-sans-serif
    padding: 0.5em
    background: linear-gradient(90deg, $black 90%, $toha-light 90% 95%, $black 95%)
    &:before
      content: "# "

strong, em
  @extend .inverted

.logo
  @extend .is-size-4
  font-family: $family-sans-serif
  font-weight: bold
  padding-top: 25px
  padding-bottom: 100px

.tile
  justify-content: center

hr
  border: solid 4px $black
  margin: 2rem 0;
