@charset "utf-8"

@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Quicksand')
$family-sans-serif: "Quicksand", sans-serif
$family-monospace: "Cutive Mono", monospace
$family-primary: $family-monospace

$toha-light: #fff1e3
$body-background-color: $toha-light
$navbar-background-color: $toha-light
$black: #323237


@import "../../node_modules/bulma/bulma.sass"

.inverted
  background-color: $black
  color: $toha-light
  padding: 0.25em
  font-weight: bold

  &-decorated
    @extend .inverted
    font-family: $family-sans-serif
    padding: 0.5em
    background: linear-gradient(90deg, $black 90%, $toha-light 90% 95%, $black 95%)
    &:before
      content: "# "

strong, em
  @extend .inverted

.logo
  @extend .is-size-4
  font-family: $family-sans-serif
  font-weight: bold
  padding-top: 25px
  padding-bottom: 100px

.sticky-footer
  bottom: 0
  padding: 20px
  left: 0
  position: fixed
  right: 0

hr
  border: solid 4px $black
  margin: 2rem 0;
